body {
	padding: 0;
	margin: 0;
	font-family: 'Anton', sans-serif;
	color: black;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 50px;
	margin-bottom: 58px;
}

h3 {
	font-size: 25px;
	margin-bottom: 28px;
}

a {
	text-decoration: none;
}

section {
	padding-top: 113px	
}

p {
	margin: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.container {
	width: 1170px;
	margin: 0 auto; 
}

.header {
	background: url('../img/first screen.webp') no-repeat center top / cover;
	padding-top: 57px;
	color: #fff;
	padding-bottom: 322px
}

header a {
	color: #fff;
}

.logo {
	margin-right: 69px;
}

.menu {
	display: flex;
}

.menu li a {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.1em;
}

.menu li a:hover {
	border-bottom: 1px solid #fff;
}

.menu li {
	margin-right: 40px;
}

.tel {
	font-size: 17px;
	margin-left: auto;
	letter-spacing: 0.1em;
}

.nav {
	display: flex;
	align-items: center;
}

.offer {
	text-transform: uppercase;
	margin-top: 213px;
	height: 309px;
}

.offer h1 {
	font-size: 100px;
	margin-bottom: 19px;
	letter-spacing: 0.02em
	width: 511px;
	height: 151px;
}

.offer p {
	font-size: 30px;
	letter-spacing: 0.1em;
	margin-top: -15px;
	width: 517px;
	height: 90px;
}

.btn {
	display: block;
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 17px 47px;
	border: 1px solid #fff;
	width: 238px;
	transition: all 0.5s ease;
	margin-top: 26px;
}

.btn:hover {
	background: #fff;
    color: #000;
}

.description {
	display: flex;
	justify-content: space-between;
}

.description p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: justify;
	line-height: 1.62em;
}

.desc-left, .desc-right {
	width: 567px;
}

.gallery {
	margin-top: 67px;
	display: flex;
	justify-content: space-between;
}

.gallery img {
	transition: all 0.5s ease;
}

.gallery img:hover {
	box-shadow: 0 20px 40px rgba(0,0,0,0.3);
	transform: scale(1.1);
}

.footer-text {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	padding: 114px 0;
}

.footer-text p {
	margin-right: 67px;
}

.header1 {
	background-color: #FBF6ED;
	padding-top: 113px;
	padding-bottom: 100px;
}

.group {
	width: 1170px;
	height: 698px;
}

.group h2 {
	font-size: 50px;
	margin-bottom: 38.82px;
}

.games {
	display: flex;
	justify-content: space-between;
}

.rectangle1 {
	width: 370px;
	height: 583px;
	box-shadow: 0px 10px 30px rgba(89, 71, 38, 0.08);
	border-radius: 20px;
	background-color: #FFFFFF;
	top: 0;
	padding-right: 48px;
	padding-left: 48px;
	padding-bottom: 67.52px;
	padding-top: 31.56px;
}

.rectangle2 {
	width: 370px;
	height: 583px;
	box-shadow: 0px 10px 30px rgba(89, 71, 38, 0.08);
	border-radius: 20px;
	background-color: #FFFFFF;
	top: 0;
	padding-right: 48px;
	padding-left: 48px;
	padding-bottom: 67.52px;
	padding-top: 31.56px;
}

.rectangle3 {
	width: 370px;
	height: 583px;
	box-shadow: 0px 10px 30px rgba(89, 71, 38, 0.08);
	border-radius: 20px;
	background-color: #FFFFFF;
	top: 0;
	padding-right: 48px;
	padding-left: 48px;
	padding-bottom: 67.52px;
	padding-top: 31.56px;
}

.gamescataloglogo {	
}

.eldenringcatalogfoto {
	margin-bottom: 15.12px;
	margin-top: 48.14px;
}

.cyberpunkcatalogfoto {
	margin-bottom: 61.12px;
	margin-right: 32px;
	margin-left: 32px;
	margin-top: 36.85px;
}

.fortnitecatalogfoto {
	margin-bottom: 84.56px;
	margin-right: -29px;
	margin-left: -29px;
	margin-top: 91.44px;
}

.catalogtext {
	width: 274px;
	height: 92.91px;
	margin-bottom: 0;
}

.catalogtext h3 {
	font-family: 'Anton';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 38px;
	color: #000000;
	margin-bottom: 0;
}

.catalogtext p {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 138.4%;
	color: #000000;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}